<extend name="Public/base" />
<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>会员列表</h2>
	</div>

    <!-- 按钮工具栏 -->
    <div class="cf">
        <form action="{:U('Member/index')}" method="post">
            <label>会员手机号</label>
            <input type="text" name="mobile" class="search-input" value="{:I('mobile')}" placeholder="请输入会员手机号">&nbsp;
            <label>会员昵称</label>
            <input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入会员昵称">&nbsp;
            <label>是否VIP</label>
            <select name="vip">
                <option value="1" <php> echo (I('vip') == 1) ? 'selected="true"' : ''; </php>>是</option>
                <option value="2" <php> echo (I('vip') == 2) ? 'selected="true"' : ''; </php>>否</option>
            </select>&nbsp;
            <label>更新时间</label>
            <input type="text" id="time-start" name="time_start" class="text input-2x" value="{:I('time_start')}" placeholder="开始时间" /> -
            <input type="text" id="time-end" name="time_end" class="text input-2x" value="{:I('time_end')}" placeholder="结束时间" />&nbsp;
            <input type="submit" value="搜索">
            <input type="reset" value="清空搜索条件">
        </form>
    </div>

    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table>
            <thead>
            <tr>
                <th>会员ID</th>
                <th>会员名称</th>
                <th>会员手机号</th>
                <th>是否VIP</th>
                <th>累积消费金额</th>
                <th>注册时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="userinfo">
                <volist name="userinfo" id="value">
                    <tr>
                        <td>{$value.id}</td>
                        <td>{$value.nickname}</td>
                        <td>{$value.mobile}</td>
                        <if condition="($value.is_member eq 1)">
                        <td>是</td>
                        <else />
                        <td>否</td>
                        </if>
                        <td>{$value.total}</td>
                        <td>{$value.create_time|date="Y-m-d H:i",###}</td>
                        <td>
                            <a class="confirm ajax-get" title="冻结" href="{:U('freeze?id='.$value['id'])}">冻结</a>&nbsp;/&nbsp;
                            <a title="查看详情" href="{:U('Member/detail', array('id' => $value['id']))}">查看详情</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="7" class="text-center">暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script>
        $('#time-start').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView:2,
            autoclose:true
        });

        $('#time-end').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView:2,
            autoclose:true
        });
    </script>

</block>
